/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-500 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/inter-v12-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-700 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/inter-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

/* merriweather-regular - latin */
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/merriweather-v30-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/merriweather-v30-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* merriweather-700 - latin */
  @font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/merriweather-v30-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/merriweather-v30-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }  

*{
padding: 0;
margin: 0;
border: 0;
}
*,*:before,*:after{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
height: 100%;
width: 100%;
font-size: 100%;
line-height: 1;
font-size: 14px;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: centr;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    font-family: 'Inter', sans-serif;
    background-color: #000000;
}

html {
    scroll-behavior: smooth; 
    box-sizing: border-box;
    height: 100%;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
header{
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
}


.container_navbar{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
    padding-right: 25px;    
    padding-left: 25px; 
    padding-top: 20px;
} 
  .navbar {
    left: 0;
    top: 0;
    width: 100%;  
  }
   
  .navbar__wrap {
    display: flex;
    justify-content: space-between;
    height: 100%;
}
   
  .hamb {
    display: none;
  }
   
  .popup {
    display: none;
  }
  .logo {
    display: flex;
    align-items: flex-start;
    max-width: 50px;
    transition: 0.3s;
  } 
  .logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  }
  .menu{
    margin-left: auto;
  }
  .menu > li > a {
    text-decoration: none;
  }
   
  .navbar__wrap .menu {
    display: flex;
  }
   
  .navbar__wrap .menu > li {
    display: flex;
    align-items: stretch;
  }
   
  .navbar__wrap .menu > li > a {
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: rgba(255, 255, 255, 0.7);
  }
   
  .navbar__wrap .menu > li > a:hover {
    color: #BDAE82;
  }

  .language{
    display: flex;
    align-items: center;
}
.en{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    padding-right: 10px;
}
.ru{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    padding-right: 10px;
}
.en:hover{
    color: #BDAE82;
}
.ru:hover{
    color: #BDAE82;
}
.en::after{
    content: "/";
    padding-left: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
    color: #FFFFFF;
}


.hero-container{
    display: flex;
    flex-wrap: wrap;  
    padding-top: 180px;
}
.hero{
    max-width: 470px;
    margin-left: 80px;
    margin-bottom: 330px;
}
h1{
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 60px;
    line-height: 120px;
    color: #FFFFFF; 
    padding-bottom: 40px; 
    line-height: 120px;  
}
.hero-text{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF; 
    padding-bottom: 20px; 
}
.btn{
    background-color:#BDAE82;   
    color: #000000;
    padding: 8px 70px;
    text-decoration: none;
    border: none;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}
.btn:hover{
    transition: 0.3s;
    color: white;  
}
.wraper-title{
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 60px;
    padding-top: 100px;
}
h2 {
    position: relative;
    overflow: hidden;
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    color: #BDAE82;
}
h2 > span {
    display: inline-block;
    
}
h2 > span:before,
h2 > span:after {
    content: '';
    position: absolute;
    width: 100%;
    border-top: 2px solid #BDAE82;
    margin-top: .9em;
}
h2 > span:before {
    margin-left: -102%;
}
h2 > span:after {
    margin-left: 2%;
}
.skills-wrap{
    display: flex;
    justify-content: space-between;

}
   
.wrap-team{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 280px;
}

.img{
    margin-bottom: 50px;  
    max-height: 50px; 
}
.skills-title{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;  
}
.skills-text{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}
.wrap-portfolio-btns{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 895px;
    margin: 0 auto;
}
.portfolio-btns{
    font-family: 'Inter';
    align-self: flex-start;  
    border: 2px solid #BDAE82; 
    color: #BDAE82;
    padding: 8px 70px;
    text-decoration: none;
    background:none; 
    margin-bottom: 60px; 
    font-size: 20px;
}
.portfolio-btns:hover{
    transition: 0.3s;
    color:#000000;
    background-color: #BDAE82;
}
.portfolio-btns{
    text-align: center; 
}

.portfolio-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 25px;
    row-gap: 40px;
    max-width: 1440px;
    margin: 0 auto;
}
.portfolio-img{
    object-fit: contain;
    max-width: 460px;
}
.wrap-video{
    height: 705px;
    background-image:url(../img/video-player.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.play-hover-btn{
    transition: 0.3s;
    border-radius: 50%;
    background:none; 
    padding-top: 288px;
    width: 130px;
    height: 130px;
    margin: auto;
    display: block;
}

.play-hover-img:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.price-item-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}
.price-item{
    width: 450px;
    border: 3px solid #BDAE82; 
    padding-top: 45px;  
    padding-bottom: 45px;
}
.title-price{
    font-family: 'Merriweather';
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;    
}
.text-price{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Merriweather';
    font-size: 24px;
    line-height: 48px;
    font-weight: 700;
    text-align: center;
    color: #BDAE82;    
}
.text-pr{
    font-family: 'Inter';   
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}
.price-btns{
    margin: auto;
    display: block;
    margin-top: 40px;
    font-family: 'Inter';
    background-color: #BDAE82;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    padding: 8px 40px 8px 40px;
} 
.price-btns:hover{
    transition: 0.3s;
    color: #FFFFFF;
}
.contacts-wrap{
    display: flex;
    justify-content: flex-end;
    height: 700px;
    background-image:url(../img/contacts.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 60px;
}
.form-wrap{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 450px;
    margin-right: 30px;
}
.contact-title{
    display: flex;
    justify-content: flex-start;
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 40px;
    line-height: 80px;
    color: #BDAE82;    
    margin-bottom: 40px;
    margin-top: 60px;
    text-align: center;
}
input{
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid #BDAE82; 
    width: 450px;  
    height: 50px; 
    margin-bottom: 20px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #BDAE82;
    padding-left: 20px;
}
textarea{
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid #BDAE82;
    width: 450px;  
    height: 100px; 
    margin-bottom: 20px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #BDAE82;
    padding-left: 20px;  
    resize: none;
}
.form-btns{
    margin-top: 40px;
    font-family: 'Inter';
    background-color: #BDAE82;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    padding: 8px 40px 8px 40px;
} 
.form-btns:hover{
    transition: 0.3s;
    color: #FFFFFF;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 20px;
    padding-bottom: 50px;
}
.wrap-footer-copyright{
    display: flex;
    justify-content: flex-start;
}
.text-footer{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #FFFFFF;
    margin-right: 20px;
}
.wrap-rolling{
    display: flex;
}
.wrap-footer-icons{
    display: flex;   
    text-align: center;
}
.footer_icons{
    display: flex;
}
.icons{
    width: 27px;    
}
.icons:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}
.footer_icons li{
    margin-right: 28px;
}
.footer_menu{
    display: flex;
}

@media (max-width: 1350px){
    .portfolio-items {
    max-width: 940px;
    margin: 0 auto;
    }
}
@media (max-width: 1340px){
    .price-item-wrap {
        width: 450px;
        margin: auto;
        padding-bottom: 50px;
        row-gap: 40px;
    }   
}

@media (max-width: 1200px){
.container {
width: 1200px;
margin: 0 auto;
} 
}

@media (max-width: 1190px){
.container {
    width: 1190px;
    margin: 0 auto;
} 
.skills-wrap {
    width: 630px;
    flex-wrap: wrap;
    margin: 0 auto;
}
.wrap-team {
    padding-bottom: 50px;
}
} 





@media (max-width: 1000px) {
.container {
    width: 1000px;
     margin: 0 auto;
}  
.language {
    display: flex;
    align-items: center;
    padding-left: 640px;
}
    
.navbar__wrap .menu {
    display: none;
  }
 
  .hamb {
    display: flex;
    align-items: center;
    z-index: 2;
  }

  .hamb__field {
    padding: 30px 60px;
    cursor: pointer;
  }
 
  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: rgb(255, 255, 255);
    transition: 0.2s;
  }
 .bar:hover{
    background-color: #BDAE82;
 }
  .popup {
    position: fixed;
    top: 0px;
    right: -100%;
    width: 620px;
    height: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 1;
    display: flex;
    transition: 0.3s;
  }
 
  .popup.open {
    right: 0;
  }
 
  .popup .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 134px;
    padding-left: 127px;
    padding-right: 408px;
    overflow: auto;
  }
 
  .popup .menu > li {
    width: 100%;
  }
 
  .popup .menu > li > a {
    width: 100%;
    display: flex;
    justify-content: start;
    padding: 20px 0;
    color: #ffffff;
  }
 
  .popup .menu > li > a:hover {
   color: #BDAE82;
  }
 
  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }
 
  .hamb__field.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
 
  .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
 
  body.noscroll {
    overflow: hidden;
  }
  .skills-wrap {
    display: flex;
    justify-content: space-between;
    width: 600px;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .wrap-team {
    padding-bottom: 50px;
  }
  .portfolio-items {
    max-width: 940px;
    margin: auto;
  }
  .price-item-wrap {
    width: 450px;
    margin: auto;
    padding-bottom: 50px;
    row-gap: 40px;
  }
  .form-wrap{
    justify-content: center;
    margin: 0 auto;
}
.contact-title{
    margin: 0 auto;
    padding-bottom: 35px;
    margin-top: 60px;
}
.form-btns{
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 110px;
}
}



@media (max-width: 768px) {
.container {
    width: 768px;
    margin: 0 auto;
}
.header-container {
    background-image: url(../img/bg.jpg);
    height: 590px;
}
.nav{
    width: 648px;
    margin: 0 auto;
}
.logo_wrap{
    padding-left: -25px;
}

.hero{
    max-width: 390px;
    margin-left: 60px;
    margin-bottom: 152px;
}
h1{
    font-weight: 400;
    font-size: 32px;
    line-height: 64px;
    padding-bottom: 20px; 
}
.hero-text{
    padding-bottom: 60px;    
}
.wraper-title{
    max-width: 364px;
}
h2 {
    font-family: 'Merriweather';
    font-size: 32px;
    line-height: 40px;
}
h2 > span:before,
h2 > span:after {
    margin-top: 21px;
}
.skills-wrap {
    flex-wrap: wrap;
    padding-left: 70px;
    padding-right: 70px;
}
.wrap-team {
    padding-bottom: 80px;
}
.img {
    margin-bottom: 30px;
}
.wrap-portfolio-btns {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 160px;
    padding-right: 160px;
}
.portfolio-items {
justify-content: center;
}
.portfolio-btns {
    width: 220px;
    height: 55px;
    margin-bottom: 10px;
}
.wrap-video {
    height: 418px;
    background-image: url(../img/video-player2.jpg);
}
.play-hover-btn {
    transition: 0.3s;
    background: none;
    padding-top: 175px;
    margin: auto;
    display: block;
}
.play-hover-img{
    width: 65px;
}
.price-item-wrap{
    padding-left: 174px;
    padding-right: 174px;
    margin-bottom: 20px;
}
.price-item{
    margin-bottom: 50px;
}
.contacts-wrap {
    height: 600px;
    background-image: url(../img/contacts2.jpg);
    margin-bottom: 30px;
}


.footer{
    flex-direction: column;
    align-items: center;
    padding-bottom: 42px;
}
.wrap-footer-copyright{
    padding-bottom: 10px;
}
.wrap-rolling{
    padding-bottom: 35px;
}
}